@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Spectral:wght@700&display=swap');

:root {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F985F 0%, #1E1E1E 100%);
    background-attachment:fixed;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }